


<% if @users.any? %>
  
  <% @users.each do |user| %>
    
    <div class="well">
      <i class="glyphicon glyphicon-user"></i>
      <%= "<b>#{user.name}</b>".html_safe %>
      &nbsp;&nbsp;
      <% view_icon = "<i class='glyphicon glyphicon-search'></i>".html_safe %>
      <%= link_to view_icon, user, class: 'btn btn-default' %>
      &nbsp;&nbsp;
      <% view_icon = "<i class='glyphicon glyphicon-pencil'></i>".html_safe %>
      <%= link_to view_icon, edit_user_path(user), class: 'btn btn-default' %>
      &nbsp;&nbsp;
      <% view_icon = "<i class='glyphicon glyphicon-trash'></i>".html_safe %>
      <%= link_to view_icon, user, method: :delete, class: 'btn btn-default' %>

    </div>

  <% end %>

<% else %>
  
  <div class='alert'>
      Não há usuários cadastrados
  </div>

<% end %>

<%= link_to "Novo usuário", new_user_path, class: 'btn btn-success' %>