
<%= render @user %>

<%= link_to t('back'), users_path, class: 'btn btn-default' %>
<%= link_to t('edit'), edit_user_path(@user), class: 'btn btn-primary' %>

<h4>
  Contas do usuario <b><%= @user.name %></b>
</h4>

<div id="new_bill">
  <%= render partial: 'bills/form', locals: { bill: Bill.new(user: @user) } %>
</div>

<hr>

<div id='bills'>
  <%= render partial: 'bills/index', locals: { bills: @user.bills } %>
</div>

<%= content_for :sidebar do %>
  <% commentables = [@user] + @user.bills.to_a %>
  
  <%= render partial: 'comments/form',
             locals: { comment: Comment.new,
                       user_id: @user.id,
                       commentables:  commentables } %>

  <div id='comments'>
    <%= render partial: 'comments/index',
               locals: { commentables:  commentables } %>
  </div>
<% end %>