
<h1 class="btn btn-success" >
  <%= t('hello') %>, <%= @name %>
</h1>
<br><br><br>


<% label = "Listagem de usuários" %>
<%= link_to label, users_path, class: 'btn btn-default' %>

<% label = "Listagem de artigos" %>
<%= link_to label, articles_path, class: 'btn btn-default' %>


<% if @name == "João Lucas 2" %>

  <%= content_for :sidebar do  %>
    
    Informação confidencial 1
    Informação confidencial 2
    Informação confidencial 3

  <% end %>

<% end %>