<!DOCTYPE html>
<html>
  <head>
    <title>FirstApp</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= render partial: 'shared/navbar' %>

    <div class="container">
      
      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-md-3">

          <% if content_for? :sidebar %>
            <%= yield :sidebar %>
          <% else %>
            <%= render partial: 'shared/sidebar' %>
          <% end %>
          
        </div>


        <div class="col-md-9">
          <%= yield %>
        </div>

      </div>

    </div>

  </body>


</html>
